.button__pagination {
    display: flex;
    margin-top: 23px;
    button {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        background: #3aaf9f;
        color: #fff;
        border: none;
        &.disableNext {
            background: #fff !important;
            border: 1px solid #3aaf9f;
            i {
                color: #3aaf9f;
            }
        }
        &.disablePrev {
            background: #fff !important;
            border: 1px solid #3aaf9f;
            i {
                color: #3aaf9f;
            }
        }
    }
}
