@import "../abstracts/variables";
@import "../abstracts/mixin";
.todo-list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .todo__title {
        margin-bottom: 35px;
    }
}
.todo__form {
    position: relative;
    width: 60%;
    @include respond(des) {
        width: 60%;
    }
    @include respond(largeTablet) {
        width: 60%;
    }
    @include respond(largeMobile) {
        width: 90%;
    }
    @include respond(mobile) {
        width: 90%;
    }
}
.todo__input {
    width: 100%;
    padding: 20px 18px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 50px !important;
    &:focus {
        outline: 0;
    }
    &:focus {
        outline: 0;
    }
}
.todo__button {
    width: 5.6%;
    position: absolute;
    top: 0px;
    right: 5.5px;
    @include respond(des) {
        width: 5.6%;
    }
    @include respond(largeTablet) {
        width: 7.3%;
    }
    @include respond(largeMobile) {
        width: 16%;
    }
    @include respond(mobile) {
        width: 16%;
    }
}
.btn-addtask {
    width: 5.6%;
    position: absolute;
    top: 5.5px;
    right: 5.5px;
    border-radius: 50px;
    background: #3ab397;
    color: #fff;
    height: auto;
    padding: 15px;
    border: none;
}
.function__button {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter__container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
